.main{
  margin: 0 0 0 0;
}

.nav-img{
  height: 72px;
  width:72px;
}

.navbar-img{
  height: 72px;
  width: 72px;
  margin-left: 100px;
  margin-top: 20px;
  display: inline-block;
}

.navbar-link{
  color: #45b29a;
  text-decoration: none;
  font-weight: 400;
  position: relative;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 0;
}

.navbar-link:hover{
  color: #21564b;
}

.active{
  color: #21564b;
  text-decoration: none;
  font-weight: 400;
  position: relative;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.navbar{
  height: 50px;
  width: 300px;
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 900px
}

.header{
  background-color: #e0ebe8;
  display: block;
  overflow: hidden;
  height: 750px;
  width: 100%;
}

.left-cloud{
  height: 160px;
  width: 160px;
  position: relative;
  margin-left: 100px;
  margin-top: 30px;
}

.right-cloud{
  height: 160px;
  width: 160px;
  position:relative;
  margin-top: 0;
}


.heading-text{
  font-family: 'Sacramento',sans-serif;
  text-align: center;
  font-size: 70px;
  color: #45b29a;
  margin-bottom: 0;
  height: 72px;
}

.subheading{
  text-align:center;
  color: #45b29a;
  font-family: 'Montserrat',sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 110px;
  width: 200px;
  display: inline-block;
  line-height: 3;
}

.section-header{
  display: inline-block;
  width: 400px;
  height: 72px;
  margin-left: 525px;
}

.cloud-div{
  width: 300px;
  display: inline-block;
  margin-top: 20px;
  position: absolute;
  margin-left: 70px;
}

.cloud-div-left{
  width: 300px;
  margin-top: 80px;
  margin-left: -750px;
  position: absolute;
  display: inline-block;
}

.main-img{
  margin-left: 520px;
  height: 400px;
}

.head-img-div{
  margin-bottom: 0;
  margin-top: 75px;
}

.intro-img{
  height: 150px;
  width: 150px;
  margin-left: 640px;
}

.intro{
  margin-top: 70px;
}

.intro-subheading{
    text-align:center;
    color: #45b29a;
    font-size: 1.5em;
    font-family: 'Montserrat',sans-serif;
}

.intro-text{
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  margin-right: 20px;
}

.skill-text{
  text-align: center;
  color: #1e836c;
  font-family: 'Montserrat',sans-serif;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 2.5em;
}

.skill-1-img{
  height: 120px;
  width: 120px;
  margin-left: 390px;
}

.skill-2-img{
  height: 150px;
  width: 150px;
  margin-left: 800px;
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

.skill-1-gif{
  height: 70px;
  width: 70px;
  margin-left: 0;
  margin-bottom: 70px;
}

.skill-2-gif{
  height: 50px;
  width: 70px;
  margin-bottom: 45px;
  margin-left: -80px;
  z-index: 2;
  position: relative;
}

.skill-1-head{
  position: absolute;
  display: inline-block;
  height: 150px;
  margin-left: 20px;
}

.skill-2-head{
  position: absolute;
  display: inline-block;
  height: 200px;
  width: 480px;
  margin-left: -600px;
}

.skill-1-heading{
  color: #45b29a;
  position: absolute;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
}

.skill-2-heading{
  color: #45b29a;
  position: absolute;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.5em;
  margin-top: 50px;
}

.skill-1-text{
  font-size: 1.2em;
  font-family: 'Montserrat',sans-serif;
  margin-top: 40px;
  position: relative;
  margin-bottom: 100px;
}

.skill-2-text{
  font-size: 1.2em;
  position: relative;
  font-family: 'Montserrat',sans-serif;
  margin-top: 50px;
}

.contact-head{
  text-align: center;
  color: #1e836c;
  font-family: 'Montserrat',sans-serif;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.contact-subheading{
    text-align:center;
    color: #45b29a;
    font-size: 1.5em;
    font-family: 'Montserrat',sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
}

.contact-text{
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.btn{
  text-align: center;
  background: #45b29a;
  margin-left: 630px;
  height: 44px;
  width: 180px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #1b7f69;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border:0;
  font-weight: 400;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 1em;
  margin-bottom: 80px;
}

.btn:hover{
  cursor: pointer;
  background: #3fa28c;
}

.email{
  margin-left: -165px;
  margin-bottom: -1.8px;
}

.footer{
  background-color: #c5ded7;
  height: 170px;
  text-align: center;
}

.footer-link{
  color: #45b29a;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
}

.footer-link2{
  color: #45b29a;
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
}

.footer-links{
  margin-left: 600px;
  position: absolute;
  margin-top: 40px;
  word-spacing: 20px;
}

.footer-links2{
  margin-left: 785px;
  position: absolute;
  margin-top: 40px;
}

.footer-link:hover{
  color:#21564b;
}

.footer-link2:hover{
  color:#21564b;
}

.footer-rights{
  color: #45b29a;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
}

.footer-ref{
  color:  #45b29a;
  font-family: 'Montserrat',sans-serif;
}

.footer-ref:hover{
  color: #21564b;
}

.footer-right{
  display: inline-block;
  margin-top: 90px;
}
